# Build Folders
bin/
obj/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.userprefs

# MonoDevelop
*.pidb
*.userprefs

# Rider
.idea/

# Logs and databases
*.log
*.sql
*.sqlite

# Others
*.exe
*.dll
*.pdb
*.cache

# NuGet Packages
*.nupkg
packages/

# Publish output
publish/
